.nav-header {
  display: flex;
  background-color: #272727;
  min-height: 20px;
  justify-content: center;
}

.nav-content {
  padding: 5px;
  background-color: #272727;
  width: 90%;
}

.website-logo {
  max-height: 100px;
  width: 80px;
  object-fit: contain;
}

.nav-mobile-btn {
  max-height: 30px;
  max-width: 30px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: bold;
}

.nav-bar-image {
  max-height: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-bar-large-container {
  display: none;
}
.nav-bar-mobile-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
}
.nav-menu li {
  list-style: none;
  padding: 0.5rem;
  color: #ffffff;
}
.nav-menu a {
  text-decoration: none;
  color: #fff;
}
.nav-bar-large-container button {
  border: none;
  background-color: blue;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: #fff;
}

.mb-items {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .website-logo {
    max-height: 180px;
    width: 200px;
    object-fit: contain;
  }
  .nav-bar-mobile-logo-container {
    display: none;
  }
  .nav-bar-large-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-menu-mobile {
    display: none;
  }
}
